<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>prediction equipment</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
  <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>

<body>
    
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">COMMET</a>
      <a class="navbar-medsos" href="#" ><i class="fab fa-facebook"</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/form_predict">prediction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">about us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <p>
      <video autoplay loop:true >
       <source src="gg.mp4" type="video/mp4" >

       </video>
      </p>
    <div class="container">
      <h1 class="display-6">COMMET</h1>
                 <img src="pln2.jpg"alt="Image" height="150" width="120">
      <p class="lead">check your equipment condition</p>
      <hr class="my-4">
      <p>commet adalah software dikembangkan di UPDK BAKARU UPLTA BAKARU untuk membantu  reliability maintenance terhadap peralatan .</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/form_predict" role="button">start prediction</a>
      </p>
    </div>
  </div>


  <div class="container-fluid pt-5 pb-5">
    <div class="container">
      <div class="row">        
        <div class="col-md-8">
        
          <h3>What is COMMET?</h3>
          <p> computerized reliability maintenance management & information technology salah satu  project development terkait prediksi terhadap kerusakan komponen berbasis machine learning dengan website</p>
          
        </div>
        <div class="col-md-4">
          
          <h3>what are the characteristics?</h3>

          <ul>
            <li>high vibration</li>
            <li>temperature increase</li>
            <li>power reduced</li>
            <li>warning alarm sytem</li>
          
          </ul>      
              
        </div>
      </div>

    </div>
  </div>

  <div class="container-fluid bg-dark text-white mt-5" style="padding: 20px 0;">
    <div class="container">
      <small>&copy; 2021. COMMET (COMPUTERIZED RELIABILITY MAINTENANCE MANAGEMENT & INFORMATION TECHNOLOGY). UPLTA BAKARU</small>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

</body>

</html>