<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>prediction equipment</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">  

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />

  <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">COMMET</a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/form_predict">prediction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">about us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
                   
    <div class="container-fluid pt-5 pb-5">
    <div class="container">

      <div class="row">
           <img src="pln2.jpg"alt="Image" height="105" width="90">
                 </p>
        <div class="col-md-6">
          <h2>Form PREDICTION THRUST BEARING</h2>
        </div>
        <div class="col-md-6">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#modal" style="float: right">
            <i class="fa fa-question"></i> Bantuan
          </button>      
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Panduan Pengisian Form</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
              <ol>
                <li>User masuk ke aplikasi web.</li>
                <li>Pada halaman awal tekan button “Mulai Prediksi” atau klik menu “Prediksi” pada bagian menu bar.</li>
                <li>Isi form yang ada di halaman tersebut.</li>
                <li>Form vibration merupakan pembacaan pada sensor temperature maksimum 150 mikrometer</li>
                
                <li>Form temperature merupakan pembacaan pada sensor temperature maksimum 65 celcius.</li>
                <li>Setelah mengisi form tersebut user dapat melihat hasilnya dengan menekan button "Lakukan Prediksi".</li>
              </ol>

            </div>
          </div>
        </div>
      </div>

      <hr class="my-3">

      <br>
      
      <form action="{{ url_for('predict')}}" method="POST">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="age">TEMPERATURE</label>
              <input type="number" min="0" max="100" class="form-control" id="age" name="age" placeholder="pembacaan pada sensor temperature" required />
            </div>

        

            <div class="form-group">
              <label for="totalbillirubin">VIBRATION</label>
              <input type="number" min="0" max="100" step="0.01" class="form-control" id="totalbillirubin" name="totalbillirubin" placeholder="pembacaan pada sensor vibrasi." required />
            </div>
          </div>
        </div>            

        <div class="form-group">
          <button type="submit" class="btn btn-success">get prediction</button>
        </div>
        
      </form>
    </div>
  </div>




  <div class="container-fluid bg-dark text-white mt-5" style="padding: 20px 0;">
    <div class="container">
      <small>&copy;2021. COMMET (COMPUTERIZED RELIABILITY MAINTENANCE MANAGEMENT & INFORMATION TECHNOLOGY). UPLTA BAKARU</small>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

</body>

</html>